.ui-widget-overlay { background: #000000; opacity: .65;filter:Alpha(Opacity=65); }
.ui-widget { font-family: Arial,sans-serif; font-size: 9pt; }
.ui-widget-header { background: url(../../../../images/osi/gradient_window.gif) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-dialog { position: relative; padding: 0em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .5em 0.4em 1em; position: relative;  }
.ui-dialog .ui-dialog-content { border: 0px solid #ccc; padding: 10px; background: none; overflow: auto; zoom: 1; }
.ui-icon { width: 16px; height: 16px; background-image: url(../../../../images/osi/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../../../../images/osi/ui-icons_222222_256x240.png); }
 .ui-widget-header .ui-icon {background-image: url(../../../../images/osi/ui-icons_222222_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../../../../images/osi/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../../../../images/osi/ui-icons_454545_256x240.png); }