#fsw-dialog body {
	font-size: 62.5%;
    font-family: "Arial",  "Helvetica",  "Verdana", "sans-serif";
}


#fsw-dialog table {
	font-size: 1em;
}


#fsw-dialog div {

box-sizing:content-box ;-moz-box-sizing:content-box ;
text-align: left;

}

#fsw-dialog table.stock {
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #ccc;
	border-collapse: collapse;
	background-color: white;
}

#fsw-dialog table.stock a {
	font-weight: bold;
	color: #234FA7;
	text-decoration: none; 
}

#fsw-dialog table.stock th {
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}

#fsw-dialog table.stock th div {
	text-align: center;
}


#fsw-dialog table.stock td {

	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}


#fsw-dialog table.mutualFund {


	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #ccc;
	border-collapse: collapse;
	background-color: white;
}
#fsw-dialog table.mutualFund th {

	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}

#fsw-dialog table.mutualFund th div {
	text-align: center;
}


#fsw-dialog table.mutualFund td {

	border-style: solid;	
	border-width: 1px;
	padding: 5px;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}


#fsw-dialog table.mutualFund a {
	font-weight: bold;
	color: #234FA7;
	text-decoration: none; 
}


#fsw-dialog table.options {

	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #ccc;
	border-collapse: collapse;
	background-color: white;
}
#fsw-dialog table.options th {

	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}

#fsw-dialog table.options th div {
	text-align: center;
}


#fsw-dialog  table.options td {

	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}


.resizable { 

	width: 100%; 
	height: 100%; 
	position: static;
	text-align: center;
	background-color:transparent;
}

 .dialogFooter {
	width: 100%; 
	text-align: center;
}

 .smbr{font-size:5px;}

#fsw-dialog hr { height: 0; border-style: dashed; border-width: 1px 0 0 0; border-color: #cccccc; }

#fsw-dialog div.result {

	width: 100%;
	overflow: visible;
	border: 0px solid #666;
	background-color: #fff;
	padding: 0px;

}



 #wlist-option div.result {

	width: 100%;
	overflow: visible;
	border: 0px solid #666;
	background-color: #fff;
	padding: 0px;

}

 #wlist-option table.options {

	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #ccc;
	border-collapse: collapse;
	background-color: white;
}
 #wlist-option table.options th {

	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}

 #wlist-option table.options th div {
	text-align: center;
}


 #wlist-option table.options td {

	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;	
	border-style: solid;
	border-color: #ccc;
	background-color: white;
	-moz-border-radius: ;
}


.fsw-ercontent  {background:  url(../images/osi/gradienttile.gif) bottom left repeat-x; }
.fsw-t {background:  url(../images/osi/dot.gif) 0 0 repeat-x; }
.fsw-b {background:  url(../images/osi/dot.gif) 0 100% repeat-x}
.fsw-l {background:  url(../images/osi/dot.gif) 0 0 repeat-y}
.fsw-r {background:  url(../images/osi/dot.gif) 100% 0 repeat-y}
.fsw-bl {background:  url(../images/osi/bottomleft.gif) 0 100% no-repeat}
.fsw-br {background:  url(../images/osi/bottomright.gif) 100% 100% no-repeat}
.fsw-tl {background: url(../images/osi/topleft.gif) 0 0 no-repeat}
.fsw-tr {background:  url(../images/osi/topright.gif) 100% 0 no-repeat; padding:10px} 

.fsw-table-tr {background: url(../images/osi/gradient_header.gif) 0 100% repeat-x;}

.fsw-error-msg {display: none;}
