/* Prospect Left Navigation */
.s1 { font-size:0.9em; }
.s2 { font-size:0.9em; }
/* Serena Second Navigation */
#gtnav div.second_nav, #second_navigation div.second_nav, #second_navigation_nonbrokerage div.second_nav {padding:5px 4px 0px 4px;}

/* CSS Minitabs */
#minitabs { font-size:1.1em; }
#minitabs ul { padding-left:4px; }
#minitabs li { margin-right:2px; }
/* CSS Buttons - Reset to default buttons for Mac */
.btnInfo, .btnInfoLt, .btnInfoRt, .btnAct, .btnActLt, .btnActRt { width:auto; height: auto; background-image: none;}

/* Serena Top Header */
#header_search_country_dd {margin-top:0;}
#header_logon_logoff {padding-bottom:5px;}

/* Buy a home IRQ form*/
#loanpurpose {width: 100px;}
#amount  {width: 80px;}
#LoanAmount {float: left; padding-left: 10px;}
#genericloanprogram {width: 70px;}
#LoanType {float: left; padding-left: 10px; padding-top: 1px;}

#HeLoanAmount {float: left; padding-left: 20px;}
#PREFERREDLOANAMOUNT {width: 84px;}
#HELoanType {float: left; padding-left: 20px;}
#firstmortgagebal {width: 94px;}
