/* Positioning */
#pull > .pullup, #pull > .pulldown, #dsign, #account_cta, #advice_cta .blurb, #quotes_tray, #container, #qbubble, #MarketTray, #equities { position: relative; }
#quote_canvas, #tray_canvas, #footer_canvas, #wsod_canvas, #qbubble span, #account_cta .green-btn, #equities .quotes_field, #equities .quotes_go, #equities .pullup, .footnote { position: absolute; }
#what { position: absolute !important; }
#advice_cta .blurb { top: -5px; }
#quote_canvas, #footer_canvas, #tray_canvas, #wsod_canvas, #dsign .layer, #equities .quotes_field, #equities .quotes_go { left: 0; }
#equities .pullup, #account_cta .green-btn { right: 0; }
#quote_canvas { bottom: -27px; }
#wsod_canvas { bottom: -900px; } /* 70px difference from trayheight */

/* Display */
#choices_canvas div.mboxDefault, #marketing div.mboxDefault { display: inline-block !important; vertical-align: middle !important; visibility: visible; }
a.mbox { display: block; }
#prospect form { display: inline; }
#plan_btn, #autocarousel, #qbubble, #money_cta, #account_cta h2, #quotes_tray, #New2Investing, #How2Trade, #Everything, .indices, .column, .arrow_sprite, .mark_text { display:inline-block; vertical-align: top; }
#MarketTray .hidden { display: none; }

/* Dimensions */
#marketing, #tray_canvas { height: 331px; }
#marketing.ebm_fill, #tray_canvas.ebm_fill { height: 450px; }
#prospect { /*width: 940px;*/ }
#marketing, #MarketTray, #pull, #carousel_wrapper, #choices { width: 940px; margin-left: auto; margin-right: auto; }
#autocarousel { width: 650px; height: 330px; overflow: hidden; }
#account_cta .green-btn { width: 80px; }
#qbubble { width: 20px; }
#prospect .quotes_field { height: 25px; }
#prospect .quotes_field, #amount_field { width: 153px; }
#footer_canvas { height: 1100px; }
.indices { width: 134px; }
#money_cta { width: 290px; }
.arrow_sprite { width: 16px; height: 16px; }
#quote_canvas { height: 81px; }
#wsod_canvas { height: 900px; } /* absolute value of bottom offset */
.pullup, .pulldown { width: 232px; height: 40px; }
#equities { height: 0px; }
#choices { /*height: 155px;*/ }
#quote_canvas, #tray_canvas, #wsod_canvas { width: 100%; }
#account_cta .circle { height: 0; }
#equities iframe { width: 978px; height: 594px; }

/* Box Model */
#prospect { margin: 0 auto; }
#advice_cta h2 { margin-bottom: 10px; }
#amount_field { margin-right: 15px;  padding: 4px 0 7px 0; }
#trade_cta { margin-right: 20px; }
.button_cta, #prospect .quotes_go, #amount_field, #prospect .quotes_field { border-radius: 4px; }
#prospect .quotes_go { padding: 7px; }
#invest_cta .button_cta { padding: 7px 0; }
.indices { margin: 0 0 0 10px; }
#prospect .quotes_go { margin-left: 10px; margin-right: 20px;}
#plan_btn, #prospect .quotes_field  { padding: 0; }
#amount_field, #prospect .quotes_field { border-top: 2px outset #A3A3A3; border-right: 1px inset #A3A3A3; }
#MarketTray { padding: 20px 0 15px 0; }
#money_cta { margin-top: 10px; }
#invest_cta { margin: 10px 14px 0 14px; }
#invest_cta { margin-right: 0; }
#account_cta { margin: 0; padding: 10px 14px; }
#pull { margin-top: 7px; }
.pullup, .pulldown { padding-top: 2px; padding-right: 20px; }
.arrow_sprite { margin-left: -2px; }
#advice_cta { border-top: 1px solid transparent; margin: 20px 0 0 0; padding: 0px 15px; }
#account_cta .green-btn { padding-top: 2px; }
#account_cta .circle { margin-top: 10px; margin-left: -37px; }
#account_cta #what { margin-top: 21px; margin-left: -69%; }
#account_cta .green-btn { margin-top: 14px; margin-right: 14px; }
#dsign .layer { margin-top: 5px; margin-left: 5px; }
#account_cta .footnote { margin-left: 16px; }
#choices { margin: 20px auto 15px auto; }
#quote_canvas { margin-bottom: -54px; }
#equities.tray_open { padding-top: 20px; }
#equities iframe { border: none; overflow: hidden; margin-bottom: 20px; margin-left: -20px; }
#equities .quotes_go { margin-left: 180px; }
#equities h1 { margin: 0; }
#MarketTray a.indexsym { margin-right: 4px; }
.tray_open { margin-top: -70px; margin-bottom: 70px; }

/* Typography */
#account_cta, #prospect .quotes_go { color: #fff; }
#money_cta h2, .datetime { word-spacing: -1px; font-weight: normal; }
#account_cta .green-btn { line-height: 1; }
.exch, #what, .pullup, .pulldown, #amount_field { font-weight: bold; }
.button_cta, .exch, .pullup, .pulldown, #prospect .quotes_go { text-transform: uppercase; font-size: 12px; }
.footnote { color: #C6B9EE; }
#amount_field { font-size: 13px; }
#dsign, #account_cta h2, .subtext { font-size:14px; }
#invest_cta h2 { font-size: 20px; }
.true { color: #fe0002; }
.false { color: #6ca500; }
#qbubble, .datetime, #what { font-size: 11px; }
#qbubble, #advice_cta a, .datetime, a.mbox, a.mbox:hover, a.mbox:active, #_1true, #_2true, #_3true, #_4true, #what { color: #000; }
.subtext { font-family: sans-serif; color: #2A2A2A; }
#qbubble span { font-size: 49px; color: #A097BE; line-height: 62px; }
.arrow_sprite { vertical-align: baseline; }
#equities > h1, #equities > h3 { text-align: center; }
.indices { text-align: left; }
.pullup, .pulldown { text-indent: 60px; }
.purp { color: #A097BE; }
#account_cta .green-btn { white-space: normal; line-height: 14px; }
#account_cta .blurb, #advice_cta .blurb { font-size: 12px; line-height: 1.5; }
#MarketTray a.indexsym:hover { text-decoration: underline; }
#prospect .quotes_go { text-shadow: 0 0 1px rgba(255,255,255, 0.6); }
#equities h1 { line-height: 1; }

/* Generated Content */
.false:before { content: "\002b"; /* Plus Sign */ }
#_1true:before, #_2true:before, #_3true:before, #_4true:before { content: ""; }

/* z-index */
#footer_canvas, #tray_canvas, #quote_canvas { z-index: -1; }

/* cursors */
.quotes_go, .pullup, .pulldown, #choices a { cursor: pointer; }

/* Opacity */
#qbubble span { opacity: .3; }

/* Backgrounds */
#money_cta { background-color: #fff; }
#account_cta { background-color: #563F9A;
  /* Webkit */
  background-color: -webkit-linear-gradient(top, #563F9A 0%, #302266 100%);
  background-color: linear-gradient(top, #563F9A 0%, #302266 100%);
  /* IE9+ */
  background: -ms-linear-gradient(top, #563F9A 0%, #302266 100%);
  /* IE6-8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563F9A', endColorstr='#302266',GradientType=0 );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#563F9A', endColorstr='#302266',GradientType=0)";
  /* Mozilla */
  background-color: -moz-linear-gradient(top, #563F9A 0%, #302266 100%);
}
#advice_cta { background-image: url(../../images/home/advice_guy2.jpg); }
#account_cta .top_shadow { margin: 0; padding: 10px 14px; background-image: url(../../images/hpage_purple_box_gradient.png); background-position: top center; background-repeat: no-repeat; position: absolute; top: 0; width: 100%;}
#prospect .quotes_go { background-color: #000; }
#how2invest { background-image: url(../../images/home/How2Invest.jpg); background-position: 200%;}
#how2trade { background-image: url(../../images/home/How2Trade.jpg); background-position: -200% 10px;}
#everything { background-image: url(../../images/home/Everything.jpg); background-position: 200% 0;}
#tray_canvas { background-color: #cecece; }


.mark_text, .arrow_sprite { background-image: url(../../../skins/prospect/images/arrows.png); background-position: 1px 150px; }
#New2Investing a:hover .arrow_sprite,#How2Trade a:hover .arrow_sprite,#Everything a:hover .arrow_sprite, .arrow_sprite:hover{ background-position:1px 106px;}
#advice_cta a:hover .blurb .mark_text { background-position:98% 56%; }
.mark_text { background-position: 98% 34%; }


#MarketTray, #footer_canvas, #quote_canvas, #equities, #wsod_canvas { background-color: #e7e7e7; }
#pull > .pullup, #pull > .pulldown { background-image: url(../../images/home/homepage-tab.jpg); background-position: 0 -9px; }
input[readonly] { background-color: #fffffa; }
#quote_canvas { background-image: url(../../images/home/homepage-strip.jpg); background-position: bottom; background-repeat: repeat-x;}

/* Slideshow Marquee */
#slides { position:absolute; }

#example { width:100%; position:relative; }

.slides_container {
    width: 650px;
    height: 331px;
}

ul.pagination { margin: -25px 0 0 0; width: 100px; position: relative; z-index: 5; }

.pagination li { float: left; margin: 0 1px 0 1px; list-style: none; }

.pagination li a { display: block; width: 12px; height: 0; padding-top: 12px; background-image: url('../../images/slides/pagination.png'); background-position: 0 0; float: left; overflow: hidden; }

.pagination li.current a { background-position:0 -12px; }


/* IE7 Styles */
@media,
  {
  #choices { height: 165px; }
  #marketing div.mboxDefault, #choices > div > div { display: inline-block !important; }
  #marketing { position: relative; }
  #money_cta, div#special-offer-bnr, div#trade-free-bnr-two { position: absolute; right: 0; }
  #marketing > div, #marketing div.mboxDefault, #choices .intro, #choices_canvas div.mboxDefault, #choices > div > div, #money_cta, #autocarousel, #account_cta h2 { display: inline !important; }
  #ebm_canvas { display: inline-block !important; }
  #choices div { width: 290px; }
  #money_cta { width: 285px; }
  #account_cta .black { vertical-align: baseline; }
  #qbubble span { filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30); }
  #prospect .quotes_field { line-height: 26px; }
  #prospect .quotes_go { background-image: url(../../../skins/prospect/images/homepage-sprite.png); background-position: right center; background-color: transparent; display: inline-block; width: 20px; height: 14px; text-indent: -9999px; vertical-align: 1px; }
  #marketing, #tray_canvas { height: 333px; }
  #account_cta #what { margin-top: 18px; }
  #account_cta .circle { margin-top: 8px; margin-left: -40px; }
  .offset { position: static; }
  #slides { margin-top: 10px; }
  #money_cta { margin-top: 20px; }
  #dsign .layer { margin-top: 7px; }
  #pull { margin-top: 4px; }
  #advice_cta h2 { font-size: 22px; margin-bottom: 4px; }
  }

/* IE8 Styles */
@media all
  {
  #qbubble span { filter: alpha(opacity=30); }
  #amount_field, #prospect .quotes_field { line-height: 26px\0/; }
  #prospect .quotes_go { background-image: url(../../../skins/prospect/images/homepage-sprite.png)\0/; background-position: right center\0/; background-color: transparent\0/; display: inline-block\0/; width: 20px\0/; height: 14px\0/; text-indent: -9999px\0/; vertical-align: 1px\0/; }
  #dsign .layer { margin-top: 7px\0/; }
  #pull { margin-top: 4px\0/; }
  }

/* Firefox Styles */
@-moz-document url-prefix()
  {
  #account_cta .green-btn { top: 0; margin-top: 21px; }
  #pull { margin-top: 4px; }
  #dsign .layer { margin-top: auto; top: 1px; }
  }

/* Webkit CSS Filter */
* > /**/ #quote_canvas, x:-webkit-any-link { bottom: -30px; height: 84px; }
* > /**/ #pull > .pullup, x:-webkit-any-link { background-position: 0 -8px; }
* > /**/ #pull > .pulldown, x:-webkit-any-link { background-position: 0 -8px; }

/* IE9 CSS Filter */
@media all and (monochrome: 0)
  {
  #amount_field { line-height: 1.5\9; }
  #prospect .quotes_go { text-indent: 0\9; }
  }

#choices_canvas { background: url(../../images/top_5_gradient.png) left bottom repeat-x; overflow: hidden; margin-bottom: 20px; }
#choices > div { width: 265px; margin-left: 70px; position: relative; }
#marketing > div[style*='block'], #choices > div[style*='block'] { display: inline-block !important; vertical-align: top; }
#marketing > div[style*='block']:first-child > div { height: 330px; }
#choices > div:first-child { margin-left: 0; }
#choices a, #choices strong, #choices span { display: block; }
#choices img { position: absolute; top: 0; right: 0; }
#choices strong { font-size: 19px; line-height: 22px; margin-bottom: 15px; }
#choices span { color: #2a2a2a; }
#choices strong, #choices span { width: 140px; }
#marketing > div[style*="block"] { vertical-align: middle !important; }

#choices_canvas { background: url(../../images/top_5_gradient.png) left bottom repeat-x; overflow: hidden; margin-bottom: 20px; padding-bottom: 10px; }
#choices strong { font-size: 19px; line-height: 22px; margin-bottom: 5px; }
#choices span { color: #2a2a2a; font-size: 14px; line-height: 21px; }

#special-offer-bnr {
  position:relative;
  top:0;
  font-family:Arial, Helvetica, sans-serif;
  width:230px;
  height:230px;
  padding:50px 25px;
  background-color:#343434;
  color:#e1e1e1;
}

#special-offer-bnr .section { padding-bottom:7px; border-bottom:2px solid #ababab; }
#special-offer-bnr .last {padding-bottom:7px;}

#special-offer-bnr h3 {
  font-size:21px;
  line-height:24px;
  font-weight:bold;
  width:200px;
  margin:0 0 10px 0;
  color:#c1c1c1;
}
#special-offer-bnr a {
  display:block;
  font-size:14px;
  outline:0;
  color: #C1C1C1;
  line-height: 19px;
  margin-bottom: 17px;
}
#special-offer-bnr a:hover label {
  background-position:1px 106px;
}
#special-offer-bnr img {
  margin-top:28px;
}

#special-offer-bnr .arrow_sprite {
  height: 16px;
  position: relative;
  top: 2px;
  width: 16px;
}

  #trade-free-bnr-two {
    position:relative;
    top:0;
    font-family:Arial, Helvetica, sans-serif;
    width:266px;
    height:270px;
    padding:30px 12px;
    background-color:#343434;
  }

  #trade-free-bnr-two .section { padding-bottom:7px; }
  #trade-free-bnr-two .last {padding-bottom:7px;}

  #trade-free-bnr-two h3 {
    font-size:23px;
    line-height:28px;
    color:#fff;
    margin: 22px 0 0 15px;
    font-weight:bold;
  }

  #trade-free-bnr-two a {
    outline:0;
  }

  #trade-free-bnr-two .btn-open-an-account {
    display:block;
    background:url('../../images/home/btn-open-an-account_011912.png') no-repeat;
    width:267px;
    height:41px;
    text-indent:-999em;
    margin:25px auto;
  }

  #trade-free-bnr-two .btn-open-an-account:hover {
    background-position:left bottom;
  }

  #trade-free-bnr-two #what {
    margin-top:5px;
    display:inline !important;
    margin-left:5px;
    text-indent:-999em;
    width:19px;
    height:19px;
    background:url('../../images/home/icon-question-mark-011312.png');
  }
