
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-align: justify;
	color: #6B6854;
}

body, th, td, input, textarea, select, option {
	font-family:  "Trebuchet MS", "Times New Roman", Arial, Times, serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #5E8402;
}

h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #5E8402;
}

h1 {
	letter-spacing: -1px;
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin: 0;
	padding: 0;
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

img {
	border:none;	
}

a {
	color: #5E8402;
}

a:hover {
	color: #5E8402;
}

hr {
	display: none;
}

#wrapper {
}


/* Header */

#header {
	width: 1020px;
	height: 63px;
	margin: 0 left;
	padding: 10px 0 0 10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

#header h1, #header p {
	margin: 0;
}

#header h1 {
	font-size: 28px;
}

#header p {
	margin-top: -10px;
	font-size: 13px;
	color: #726503;
}

.member{
	font-size:12px;
}

.member a{
	color:#666;
}

#wrapper {
	width: 950px;
	margin: 0;
	padding: 0;
	background: url(images/img02.jpg) no-repeat left top;
}

/* Page */

#page {
	width: 950px;
	margin: 0 left;
	padding: 0;
}

/* Content */

#content {
	float:inherit;
	width: 480px;
	margin: 0;
	padding-top: 40px;
}

#contentview{
	float:inherit;
	width: 1020px;
	margin: 0;
	padding-top: 40px;
	padding-left:10px;
	color:#FFF;
}


#orderinfo {
	margin: 0;
	padding-top: 20px;
}

#orderinfo table {
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	width:235px;
	margin-left:10px;
}

#orderinfo table td table {
	width:210px;
}

.shoppingcarttitle {
	background:url(imagesold/member.png) no-repeat;
	height:30px;
}

.shoppingcarttitle {
	background:url(imagesold/cart_title.png) no-repeat;
	height:62px;
}

.shoppingcartitem {
	background:url(imagesold/cart_item.png) repeat;
	height:40px;
}

.shoppingcarcheckout {
	background:url(imagesold/cart_checkout.png) no-repeat;
	height:227px;
	vertical-align:top;
	margin-top:10px;
}

.shoppingcarcheckout table {
	padding-top:10px;
}


#orderdetail {
	margin: 0;
}

.orderpanel {
	background:url(imagesold/odbg_19.png) repeat;
	border-style:solid;
	border-width:1px;
}

.ordertitle{
	background:url(imagesold/odbg_12.png) repeat-x top;
	height:45px;
}
.lefttop {
	background:url(imagesold/odbg_08.png) no-repeat left top;
}

.righttop {
	background:url(imagesold/odbg_16.png) no-repeat right top;
}



.post {
	padding: 5px 0 0 0;
}

.title {
	padding: 0 20px 0 0px;
	font-size: 16px;
}

.title a {
	text-decoration: none;
	color: #FFFFFF;
}

.pagetitle {
}

.byline {
	background: #AECA8D;
	margin: -20px 0 10px 0;
	padding: 2px 0 0 10px;
	border-bottom: 1px #FFFFFF dashed;
	border-top: 1px #FFFFFF dashed;
	font-size: 11px;
	color: #FFFFFF;
}

.byline a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.meta {
	margin: 0;
	padding: 1px 0 0 0;
	background: url(images/img04.gif) repeat-x left top;
	text-align: right;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #646464;
}

.meta .more {
	background: #AECA8D;
	padding: 4px 10px;
}

.meta .comments {
	padding-left: 18px;
}
.meta a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.navigation {
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.posts li {
}

.posts h3 {
	margin: 0;
	font-weight: bold;
}

.posts p {
	margin: 0;
	line-height: normal;
}

.posts a {
}

.entry {
	margin: 0;
	padding-bottom: 20px;
}

.last {
	border: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 40px;
}

#sidebar ul {
	margin: 0 0 0 5px;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding: 0px 21px 16px 0px;
}

#sidebar li li {
	background: url(images/img04.gif) repeat-x left bottom;
	padding: 0 0 10px 0px;
}

#sidebar h2 {
	margin: 0;
	width: 215px;
	height: 35px;
	padding: 5px 0px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#sidebar a {
	padding-left: 10px;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: none;
}

/* Search */

#searchbar {
	background:url(imagesold/bbc_08.jpg) repeat;
	width:1020px;
	vertical-align:middle;
	text-align:center;
	height:30px;
	color: #FFF;
}

#searchbar a {
	text-decoration: none;
	color:#CCC;
}

#searchbar br {
	display: none;
}

#searchbar img {
	
}

#searchoption {
	color:#FFF;
	padding-top:0px;
	position:absolute;
	z-index:1;
}
#searchoption table{
	background:url(imagesold/bbc_08.jpg) repeat;
}

/* menu */
.underlinemenu{
	width:300px;
	padding-right:10px;
	float:left;
}

.underlinemenu ul{
	margin: 0;
	text-align: right; //set value to "left", "center", or "right"*/
}

.underlinemenu ul li{
	display: inline;
}

.underlinemenu ul li a{
	/*padding: 6px 3px 4px 3px; top padding is 6px, bottom padding is 4px*/
	margin-right: 10px; /*spacing between each menu link*/
	text-decoration: none;
	border-bottom: 1px solid; /*bottom border is 3px*/
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected{
	border-bottom-color: black;
}

/* Calendar */

#calendar {
}

#calendar h2 {
	margin-bottom: 15px;
}

#calendar table {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#calendar caption {
	width: 100%;
	text-align: center;
}

#next {
	text-align: right;
}

#prev {
	text-align: left;
}

/* Footer */

#footer {
	margin: 0;
	padding: 0 0 0 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#footer p {
	padding: 25px 0 20px 0;
}

#footer p a {
	padding: 3px 7px;
	border: 3px #FFFFFF solid;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 1;
}