/* Header */
header #third-nav, header .row-three { display: none; }
#active-trading-nav { display: block; }
header > .row-two nav li:first-child a { color: #8767EC; }

/* Structure */
.active-trading-default { width: 100%; }
.active-trading-default .imageSliderAcitveTrading,
.active-trading-default #carousel_wrapper,
.active-trading-default .active-trading-content { width: 940px; margin: 0 auto; }
.active-trading-default .active-trading-content { padding: 40px 0 0; }
.active-trading-default #promo-full-width { margin: 20px auto 40px !important; }

/* Pricing Table */
div.pricing { width:380px; }
div.pricing table { border-collapse: collapse; }
div.pricing thead th { background:#84C341; color:#FFF; font-size:11px; text-align:left; vertical-align: bottom; width:80px; }
div.pricing thead th.first { text-transform:uppercase; font-size:14px; padding-bottom:3px; width:115px; }
div.pricing thead th.humble, div.pricing thead th.elite { padding-bottom:5px; padding-right: 1px; }div.pricing { position:relative; }
div.pricing thead th, div.pricing tbody td { padding: 17px 0 10px 16px; }
div.pricing thead th.last, div.pricing tbody td.last { width: 1px; }
div.pricing tbody td { background:#E5EEDD; color:#000; font-size:12px; }
div.pricing tbody.splitrow { /*border-bottom: 1px double #fff; border-top: 1px double #fff; */ }
div.pricing tbody.splitrow td { padding: 0; }
div.pricing tbody.splitrow div { height: 85px; }
div.pricing tbody.splitrow td.mahika { height: 85px; }
div.pricing tbody.splitrow div { border-top: 1px solid #fff; }
div.pricing tbody.splitrow td.mahika { padding: 0 0 0 16px; vertical-align: middle; }
div.pricing tbody span.equityType { font-size:14px; font-weight:bold; display:block; width: 108px; }
div.pricing tbody a.details { margin-top:5px; text-transform:uppercase; color:#003399; text-decoration:none; font-size:10px; font-weight:bold; }
div.pricing tbody a.blueArrowLink { background-image: url(../../images/arrow-link-right.png); background-position: right center; background-repeat: no-repeat; padding-right: 10px; }
div.pricing tbody a.blueArrowLink:hover { text-decoration: underline; }
div.pricing tbody span.priceLarge { font-weight:bold; font-size:18px; }
div.pricing tbody span.helper { font-size:11px; display:block; }

#features-list li { padding:30px 0 0 0; }
#features-list strong { margin-bottom: 20px; margin-left: 170px; font-size: 16px; background-image: url(../../../skins/prospect/images/arrows.png); background-position: right -88px; background-repeat: no-repeat; float: left; padding-right: 20px; }
#features-list span { vertical-align: 30px; display: inline-block; width: 360px; text-indent: 0; margin-left: 170px; }
#features-list a, #features-list a:hover { color: #000; text-decoration: none; }

#promo-side, #promo-full-width { top: 0; }
.column #promo-side.promo { width: auto; height: auto; }
#account_go { position: absolute; right: 15px; bottom: 20px; }
#promo-side h2 { font-size: 28px; letter-spacing: -1px; line-height: 28px; margin: 0; }
.promo .read-more { margin:0; line-height: 10px; vertical-align: -10px; }
.tabswitch { line-height: 25px; vertical-align: -25px; padding: 10px 20px; border: 1px groove #aaa; border-width: 0 1px; color: #fff; background-color: #000; }
div.pricing tbody td, div.pricing thead th { background-color: transparent; }
col.humble { background-color: #E5EEDD; }
col.elite { background-color: #E6E1F6; border: 2px solid #533F9A; }
div.pricing thead th.humble { background-color: #84C341; }
div.pricing thead th.elite { background-color: #533f9a; }div.pricing thead th.empty { background-color: #fff; }
#elite_vbox { width: 240px; padding-top: 192px; border-bottom: 64px solid black; }
#tab_vbox { width: auto; }
#elite_vbox, #tab_vbox { vertical-align: bottom; margin-right: -5px; margin-bottom: 40px; }
#tabrow .blurb a { text-transform: capitalize; background-image: url(../../../skins/prospect/images/arrows.png); background-position: right -84px; background-repeat: no-repeat; padding-right: 20px; display: inline; }
#elite_vbox h2, #elite_vbox h3 { text-transform: uppercase; }
#tabrow { height: 50px; position: relative; }
#promo_list { width: 540px; margin-right: 20px; }
#price_table { width: 365px; }
#tabrow .blurb { font-family: arial; }
.tab-pointer { border-width: 0 12px 12px 12px; border-bottom-color: #6C9C1F; margin-top: 4px; top: 1px; }
.pro-point { margin-left: 55px; }
.threesixty-point { margin-left: 185px; }
.mobile-point { margin-left: 327px; }
.options-point { right: 0; margin-right: 200px; }
.futures-point { right: 0; margin-right: 57px; }
.tabswitch:first-child, .tabswitch:hover { background-color: #6C9C1F; cursor: default; }
#tabrow img { top: -451px; left: 0; }
#tabrow .blurb { width:180px; top: -250px; margin-left: 50px; }
#tabrow .blurb, #tabrow .blurb a, #elite_vbox h2 { color: #fff; font-size: 14px; }
#elite_vbox h3 { color: #7e7e7e; font-size: 12px; font-weight: bold; margin-right: 20px; }
#elite_vbox p { color: #f0f0f0; font-size: 11px; margin-right: 20px; }
#tabrow .hidden { display: none; }
#tabrow:hover > #pro-tab * { display: none; }
#tabrow:hover > #pro-tab:hover * { display: block; }
#tabrow:hover > .tabswitch:first-child { background-color: #000; }
#tabrow:hover > .tabswitch:first-child:hover { background-color: #6C9C1F; }
#threesixty-tab:hover * { display: block; }
#mobile-tab:hover * { display: block; }
#options-tab:hover * { display: block; }
#futures-tab:hover * { display: block; }
#features-list { padding: 20px 0; }
#features-list li { background-image: url(../../images/active-trading/active-trading-home-images.jpg); background-repeat: no-repeat; }
#options-trading { background-position: 10px 0; }
#margin-trading { background-position: 10px -131px; }
#etrade-community { background-position: 10px -285px; }
#etrade-api { background-position: 15px -430px; padding-bottom: 30px !important; }
#elite_vbox { background-image: url(../../images/active-trading/active-trading-home-pro-elite.jpg); }
#marquee_canvas { position: absolute; width: 100%; height: 466px; background-color: black; top: 135px; left: 0; z-index: -1; }
#elite-pricing { text-align: center; padding: 0; margin: 0; }
#features-list strong:hover { background-position: right -132px; }
#tabrow .blurb a:hover { background-position: right -128px; }

/* Image Sliders */
#active-trading-nav ul li { height: 100%; }
.imageSliderAcitveTrading, .sliderActiveTrading, .activeTradingPanes, .activeTradingPane, .activeTradingPane .imgHolder { height: 466px; }
.imageSliderAcitveTrading { background-color: #333; position: relative; margin-bottom: 40px; clear: both; }
.infoAciveTrading { width: 240px; float: left; background: url(../../images/active-trading/active-trading-home-pro-elite.jpg); color: #fff; padding-top: 196px; height: 270px; }
.infoAciveTrading h2, .infoAciveTrading h3 { text-transform: uppercase; }
.infoAciveTrading h2 { font-size: 14px; font-weight: bold; }
.infoAciveTrading h3 { font-size: 12px; color: #7e7e7e; }
.infoAciveTrading p { font-size: 12px; }
.infoAciveTrading h2, .infoAciveTrading h3, .infoAciveTrading p { margin: 0 20px 10px 0; }
.infoAciveTrading h2 { margin-bottom: 3px; }

/* Image Slider Navigation */
.navActiveTrading { position: absolute; z-index: 2; bottom: 0; right: 0; width: 700px; border-right: 1px solid #555; }
.navActiveTrading ul, .navActiveTrading ul li { margin: 0; padding: 0; }
.navActiveTrading ul li { float: left; width: 140px; height: 100%; }
.navActiveTrading ul li a { /*text-shadow: 0 -1px 0 rgba(0,0,0,.3);*/ position: relative; display: block; text-align: center; border-top: 1px solid #555; border-right: 1px solid #000; border-left: 1px solid #555; padding: 17px 0; color: #fff; font-weight: bold; line-height: 100%; }
.navActiveTrading ul li a span { height: 0; width: 0; border-width: 8px; border-style: solid; border-color: transparent transparent #9aca42 transparent; position: absolute; z-index: 3; top: -16px; *top: -14px; right: 43%; }
.navActiveTrading ul li.gr-blk a span { display: none; }
.navActiveTrading ul li.gr-grn a span { display: block; }
.navActiveTrading ul li a:hover { text-decoration: none; }
.navActiveTrading ul li.last a { border-right: 0; }

/* Image Sliders Content */
.sliderActiveTrading { width: 700px; float: right; background: #111; }
.activeTradingPane { position: absolute; top: 0; }
.activeTradingPane .imgHolder { width: 700px; overflow: hidden; display: block; position: absolute; top: 0; left: 0; }
.activeTradingPane .contentHolder { color: #fff; position: absolute; top: 190px; left: 55px; width: 200px; }
.activeTradingPane .contentHolder p { margin: 0 0 20px 0; padding: 0; line-height: 21px; font-size: 16px; }
.activeTradingPane .contentHolder p a { font-size: 18px; font-weight: bold; text-transform: capitalize; color: #fff; }
.activeTradingPane .contentHolder p a .arrow { background: url("../../../skins/prospect/images/arrows.png") no-repeat scroll 0 -89px transparent; height: 15px; width: 15px; display: inline-block; vertical-align: baseline; }
.activeTradingPane .contentHolder p a:hover .arrow { background-position: 0 -133px; }

/* Webkit CSS Filter 
* > /**/ #elite_vbox, x:-webkit-any-link { padding-top: 200px; }

@-moz-document url-prefix() {
	#tabrow img { top: -450px; }
	div.pricing thead th.elite { padding-right: 1px; }
}

/* IE8 CSS Filter */
@media all { #promo-side .read-more { background-position: 2px 12px\0/; } }

/* IE9 CSS Filter */
@media all and (monochrome: 0) {
	#promo-side .read-more { background-position: 2px 12px\9; }
	/*#elite-pricing { margin-left: -17px\9; text-indent:49px\9; }*/
	div.pricing thead th.elite { padding-right: 2px\9; }
}